<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zh.file.browser.mapper.DbInitMapper">
	<insert id="initFbDirectory">
		CREATE TABLE IF NOT EXISTS `fb_directory` (
			`directory_id` VARCHAR(200) NOT NULL,
			`path` VARCHAR(255) NOT NULL,
			`description` VARCHAR(1024) NULL,
			PRIMARY KEY (`directory_id`)
		)
	</insert>

	<insert id="initFbVideo">
		CREATE TABLE IF NOT EXISTS `fb_video` (
			`video_id` INT NOT NULL,
			`directory_id` VARCHAR(200) NOT NULL,
			`video_path` VARCHAR(255) NOT NULL,
			`width` INT NOT NULL,
			`height` INT NOT NULL,
			`fps` VARCHAR(45) NOT NULL,
			`codec` VARCHAR(45) NOT NULL,
			`avg_bitrate` VARCHAR(45) NOT NULL,
			`running_time` INT NOT NULL,
			PRIMARY KEY (`video_id`)
		)
	</insert>

	<insert id="initFbImage">
		CREATE TABLE IF NOT EXISTS `fb_image` (
			`image_id` INT NOT NULL,
			`directory_id` VARCHAR(200) NOT NULL,
			`image_path` VARCHAR(45) NULL,
			PRIMARY KEY (`image_id`)
		);
	</insert>

	<insert id="initFbCasting">
		CREATE TABLE IF NOT EXISTS `fb_casting` (
			`casting_id` INT NOT NULL,
			`directory_id` VARCHAR(200) NOT NULL,
			`actor_name` VARCHAR(45) NULL,
			PRIMARY KEY (`casting_id`)
		)
	</insert>

	<insert id="initFbGenre">
		CREATE TABLE IF NOT EXISTS `fb_genre` (
			`genre_id` INT NOT NULL,
			`directory_id` VARCHAR(200) NOT NULL,
			`genre_name` VARCHAR(45) NULL,
			PRIMARY KEY (`genre_id`)
		)
	</insert>

	<insert id="initFbThumbnail">
		CREATE TABLE IF NOT EXISTS `fb_thumbnail` (
			`thumbnail_id` INT NOT NULL,
			`directory_id` VARCHAR(200) NOT NULL,
			`thumbnail_path` VARCHAR(45) NOT NULL,
			PRIMARY KEY (`thumbnail_id`)
		)
	</insert>
</mapper>
